/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 oct 2024, 17:36:38
    Author     : campv
*/

.btnProduct{
    -fx-background-color:white;
    -fx-cursor:hand;
}

.btnProduct:hover{
    -fx-text-fill: blue;
    -fx-underline:true;
}


