<hibernate-configuration>
    <session-factory>
        <!--
        TODO: modificar la base de datos por la final final y ver si se cambia de tecnología
        -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
<!--        <property name="hibernate.connection.url">jdbc:sqlite::memory:</property>-->
<!--        Lo comenté para hacer pruebas con una BD nueva cada vez que se ejecute el programa-->
        <property name="hibernate.connection.url">jdbc:sqlite:CafeteriaMasterRulesDB.sqlite</property>
<!--        TODO:CAMBIAR ESTO POR UPDATE-->
        <property name="hibernate.hbm2ddl.auto">update</property>
<!---->
<!--        <property name="show_sql">true</property>-->
<!--        <property name="format_sql">true</property>-->
<!--        <property name="hibernate.highlight_sql">true</property>-->
        <!--       todo-->
        <mapping class="com.mycompany.masterrules.Model.cafeteria.Product"/>
        <mapping class="com.mycompany.masterrules.Model.cafeteria.Combo"/>

        <mapping class="com.mycompany.masterrules.Model.users.UserAccount"/>

        <mapping class="com.mycompany.masterrules.Model.customers.Customer"/>
        <mapping class="com.mycompany.masterrules.Model.possystem.Debt"/>
        <mapping class="com.mycompany.masterrules.Model.possystem.Bill"/>
        <mapping class="com.mycompany.masterrules.Model.possystem.OrderDetail"/>
        <mapping class="com.mycompany.masterrules.Model.finanzas.CashFlowReport"/>

        <mapping class="com.mycompany.masterrules.Model.finanzas.CashRegisterAuditReport"/>
    </session-factory>
</hibernate-configuration>
