<project>
  <files>
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <auto
        name="nbactions.xml"/>
      <auto
        name="pom.xml"/>
      <dir
        name="src">
        <dir
          name="main">
          <dir
            name="java">
            <dir
              name="com">
              <dir
                name="mycompany">
                <dir
                  name="masterrules">
                  <auto
                    name="App.java"/>
                  <dir
                    name="Controller">
                    <auto
                      name="ItemCardProductController.java"/>
                    <auto
                      name="ProductSelectionListener.java"/>
                    <auto
                      name="WnCashRegisterAuditReportController.java"/>
                    <auto
                      name="WnCustomersController.java"/>
                    <auto
                      name="WnInventoryController.java"/>
                    <auto
                      name="WnLoginController.java"/>
                    <auto
                      name="WnPaymentController.java"/>
                    <auto
                      name="WnProductsController.java"/>
                    <auto
                      name="WnReportsController.java"/>
                    <auto
                      name="WnSaleController.java"/>
                    <auto
                      name="WnSideNavigationBarController.java"/>
                    <auto
                      name="WnUsersController.java"/>
                  </dir>
                  <dir
                    name="Database">
                    <auto
                      name="BillDatabase.java"/>
                    <auto
                      name="CashAuditReportDatabase.java"/>
                    <auto
                      name="CashFlowDatabase.java"/>
                    <auto
                      name="ComboDatabase.java"/>
                    <auto
                      name="CustomerDatabase.java"/>
                    <auto
                      name="Database.java"/>
                    <auto
                      name="DuplicatePrimaryKeyException.java"/>
                    <auto
                      name="EntityNotFoundException.java"/>
                    <auto
                      name="HibernateUtil.java"/>
                    <auto
                      name="ProductDatabase.java"/>
                    <auto
                      name="StorageDatabase.java"/>
                    <auto
                      name="UserDatabase.java"/>
                  </dir>
                  <dir
                    name="Model">
                    <dir
                      name="cafeteria">
                      <auto
                        name="CafeteriaMenu.java"/>
                      <auto
                        name="Combo.java"/>
                      <auto
                        name="InventoriableProduct.java"/>
                      <auto
                        name="Product.java"/>
                    </dir>
                    <dir
                      name="customers">
                      <auto
                        name="Customer.java"/>
                      <auto
                        name="CustomerAccount.java"/>
                      <auto
                        name="CustomerManager.java"/>
                      <auto
                        name="LoyaltyCard.java"/>
                    </dir>
                    <dir
                      name="finance">
                      <auto
                        name="ArchiveInvoice.java"/>
                      <auto
                        name="CashAuditReport.java"/>
                      <auto
                        name="CashFlow.java"/>
                      <auto
                        name="CashRegister.java"/>
                      <auto
                        name="CashRegisterAuditReportManager.java"/>
                      <auto
                        name="CashierSupervisor.java"/>
                      <auto
                        name="FlowType.java"/>
                    </dir>
                    <dir
                      name="retailsystem">
                      <auto
                        name="Bill.java"/>
                      <auto
                        name="CashPaymentProcessor.java"/>
                      <auto
                        name="DebitCardPaymentProcessor.java"/>
                      <auto
                        name="Debt.java"/>
                      <auto
                        name="MixPaymentProcessor.java"/>
                      <auto
                        name="Order.java"/>
                      <auto
                        name="OrderItem.java"/>
                      <auto
                        name="POSManager.java"/>
                      <auto
                        name="PaymentDetails.java"/>
                      <auto
                        name="PaymentException.java"/>
                      <auto
                        name="PaymentMethod.java"/>
                      <auto
                        name="PaymentProcessor.java"/>
                      <auto
                        name="Printer.java"/>
                      <auto
                        name="StoreCreditPayProcessor.java"/>
                    </dir>
                    <dir
                      name="storage">
                      <auto
                        name="CafeteriaStorage.java"/>
                      <auto
                        name="StockInfo.java"/>
                    </dir>
                    <dir
                      name="users">
                      <auto
                        name="Permission.java"/>
                      <auto
                        name="UserAccount.java"/>
                      <auto
                        name="UserManager.java"/>
                      <auto
                        name="UserNotFoundException.java"/>
                      <auto
                        name="UserPermissions.java"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <auto
              name="module-info.java"/>
          </dir>
          <dir
            name="resources">
            <dir
              name="com">
              <dir
                name="mycompany">
                <dir
                  name="masterrules">
                  <auto
                    name="cardDesign.css"/>
                  <auto
                    name="loginDesign.css"/>
                  <auto
                    name="viewTemplate.css"/>
                </dir>
              </dir>
            </dir>
            <auto
              name="hibernate.cfg.xml"/>
          </dir>
        </dir>
        <dir
          name="test">
          <dir
            name="java">
            <auto
              name="DBAdminTest.java"/>
            <dir
              name="com">
              <dir
                name="mycompany">
                <dir
                  name="masterrules">
                  <auto
                    name="CafeteriaDBTest.java"/>
                  <auto
                    name="CombosDBTest.java"/>
                  <auto
                    name="CustomerDBTest.java"/>
                  <auto
                    name="DBAdminNoDBProductTest.java"/>
                  <dir
                    name="Database">
                    <auto
                      name="BillDatabaseTest.java"/>
                    <auto
                      name="CashAuditReportDatabaseTest.java"/>
                    <auto
                      name="CashFlowDatabaseTest.java"/>
                    <auto
                      name="ComboDatabaseTest.java"/>
                    <auto
                      name="CustomerDatabaseTest.java"/>
                    <auto
                      name="StorageDatabaseTest.java"/>
                  </dir>
                  <auto
                    name="DebtDBTest.java"/>
                  <dir
                    name="Model">
                    <auto
                      name="ArchiveInvoiceTest.java"/>
                    <auto
                      name="UserManagerTest.java"/>
                    <dir
                      name="cafeteria">
                      <auto
                        name="CafeteriaMenuTest.java"/>
                    </dir>
                    <dir
                      name="finance">
                      <auto
                        name="CashRegisterAuditReportManagerTest.java"/>
                      <auto
                        name="CashierSupervisorTest.java"/>
                    </dir>
                    <dir
                      name="storage">
                      <auto
                        name="CafeteriaStorageTest.java"/>
                    </dir>
                  </dir>
                  <auto
                    name="ProductDBTest.java"/>
                  <auto
                    name="PruebaManager.java"/>
                  <auto
                    name="UserDatabaseTest.java"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="target">
        <dir
          name="classes">
          <dir
            name="com">
            <dir
              name="mycompany">
              <dir
                name="masterrules">
                <auto
                  name="cardDesign.css"/>
                <auto
                  name="loginDesign.css"/>
                <auto
                  name="viewTemplate.css"/>
              </dir>
            </dir>
          </dir>
          <auto
            name="hibernate.cfg.xml"/>
        </dir>
        <dir
          name="surefire-reports">
          <auto
            name="TEST-com.mycompany.masterrules.CombosDBTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.Database.BillDatabaseTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.Database.CashAuditReportDatabaseTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.Database.CashFlowDatabaseTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.Database.ComboDatabaseTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.Database.StorageDatabaseTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.Model.ArchiveInvoiceTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.Model.UserManagerTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.Model.cafeteria.CafeteriaMenuTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.Model.finance.CashRegisterAuditReportManagerTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.Model.finance.CashierSupervisorTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.Model.storage.CafeteriaStorageTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.ProductDBTest.xml"/>
          <auto
            name="TEST-com.mycompany.masterrules.UserDatabaseTest.xml"/>
        </dir>
      </dir>
    </dir>
  </files>
</project>
